<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Expert Excerpts </span>
    <span class="navbar-text">
      <app-modal>
        <div header>Add An Excerpt</div>
        <div body>
          <form>
            <div class="form-group">
              <label for="exampleFormControlInput1">Origin</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Category</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option value="1">Fiction</option>
                <option value="1">Non-Fiction</option>
                <option value="2">TV</option>
                <option value="3">Movies</option>
                <option value="3">Conversation</option>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Excerpt</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Thoughts</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </form>
        </div>
      </app-modal>
    </span>
  </div>
</nav>
